In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('data.csv')

In [4]:
data.head()

                      url label
0  diaryofagameaddict.com   bad
1        espdesign.com.au   bad
2      iamagameaddict.com   bad
3           kalantzis.net   bad
4   slightlyoffcenter.net   bad

In [5]:
data['label'] = data['label'].apply(lambda x : 1 if x == 'bad' else 0)

In [6]:
data.head()

                      url  label
0  diaryofagameaddict.com      1
1        espdesign.com.au      1
2      iamagameaddict.com      1
3           kalantzis.net      1
4   slightlyoffcenter.net      1

In [7]:
data['url'] = data['url'].apply(lambda x: x if x.startswith('http') else 'http://'+x )

In [8]:
data.head()

                             url  label
0  http://diaryofagameaddict.com      1
1        http://espdesign.com.au      1
2      http://iamagameaddict.com      1
3           http://kalantzis.net      1
4   http://slightlyoffcenter.net      1

In [9]:
data.to_csv('data_cleaned.csv', index=False)